@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Abril Fatface", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.heading {
  font-size: 10rem;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1475113548554-5a36f1f523d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
