*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.banner-area{
	height: 100vh;
	width: 100%;
	background: url(bg.png);
	background-size: cover;
	background-position: center center;
}
.menu-area{
	position: static;
}
.mega-area{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.sub-menu-head h6{
	font-family: Copperplate Gothic Bold;
	letter-spacing: 2px;
	padding:10px 0 10px 20px;
	font-weight: 900;
}

#sub-menu-head h6{
	font-family: Copperplate Gothic Bold;
	letter-spacing: 2px;
	padding: 10px 0;
	font-weight: 900;
}

.sub-menu{
	margin: 0;
	text-align: justify-all;
	font-size: 12px;
}
.sub-menu a{
	color: #8B9192;
}
.sub-menu a:hover{
	color: #02C6D6;
	background: none;
	margin-left: 2px;

}
.double-sub-menu{
	list-style: none;
	margin-left: 15px;
}
#next-dropdown ul li{
	display: none;
}
#next-dropdown:hover ul li{
	display: block;
	padding: 5px 0px;
	box-sizing: border-box;
	color: #000;
}

#next-dropdown ul li a{
	box-sizing: border-box;
	border: 1px solid;
}

.list-head2 ul li{
	list-style: none;
	padding: 10px 10px;
	color: rgba(0,0,0,0.5);
	font-weight: 500;
}
.list-head2 ul li a{
	color: rgba(0,0,0,0.5);
}
.dropdown-toggle{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
.dropdown-toggle:hover{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
.sailing-list{
	position: relative;
}
.sailing-list li{
	padding: 8px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 100%;
}
.sailing-list li a{
	color: #333;
	text-decoration: none;
	font-size: 12px;
}
.sailing-list li a:hover{
	margin-left: 2px;
	color: #02C6D6;
}




@media (max-width: 575px){
	.sub-menu-head h6:before,
	#sub-menu-head h6:before{
		content: " ";
		background: none;
	}
	.sub-menu-head h6,
	#sub-menu-head h6{
		font-size: 14px;
		text-transform: lowercase;
		font-family: sans-serif;
		font-weight: normal;
	}
	.sub-menu-head h6 a{
		text-decoration: none;
		color: rgba(255,255,255,0.5);
		
	}
	.dropdown-menu{
		background: #262626;
	}
	.sub-menu-head h6 a:hover{
		display: block;
	}
	.sub-menu{
		display: block;
		background: #B9D5B8;
		color: #000;
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid rgba(0,0,0,0.5);
	}
	.dropdown-menu .sub-menu-head h6,
	.dropdown-menu #sub-menu-head h6
	{
		border-bottom: 1px solid #333;
		box-sizing: border-box;
	}
	

}
@media (max-width: 574px){
	.menu-area .list-head .sub-menu{
		display: none;
	}
	.menu-area .list-head:hover .sub-menu{
		display: block;
		color: red;
	}
	.sub-menu a{
		color: #000;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding: 10px 0;
	}
	  .list-item a:before{
		content: '\f0d7';
		position: absolute;
		font-family: fontAwesome;
		font-size: 14px;
		right: 20px;
		color: rgba(255,255,255,0.3);
	}
	#sub-menu-head .list-item a:before{
		content: '\f0d7';
		position: absolute;
		font-family: fontAwesome;
		font-size: 14px;
		right: 5px;
		color: rgba(255,255,255,0.3);
	}
	.list-head2{
		color: rgba(255,255,255,0.5);
	}
	
	.list-head2 ul li{
		border-bottom: 1px solid rgba(255,255,255,0.1);
		margin: 0;
		padding: 10px;
		color: rgba(255,255,255,0.6) !important;
		font-weight: normal !important;
	}
	.list-head2 ul li a{
		color: rgba(255,255,255,0.5) !important;
	}
	.sailing-list li a{
		color: rgba(255,255,255,0.5);
		text-decoration: none;
		font-size: 14px;
		font-family: sans-serif;
	}
	.sailing-list li{
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
}

.section {
    height: 100vh;
}

